.card{
    box-shadow: 0px 3px #D7DBDD;
    border-radius: 5px;
    border-color: black;
}
input{
    
    padding: 12px 20px;
    /* margin: 20px 15px; */
   
    display: inline-block;
    border: 1.5px solid rgb(59, 57, 59);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 400px;
    
  }
